/* ACCOUNT SETTINGS */

#message {
	color: red;
}
#name {
	float: right;
	padding: 10px;
}
#name p {
	float: left;
	padding-top: 4px;
}
#settings { /* aligning the settings cog */
	float: right;
	padding: 25px;
	cursor: pointer;
}
.settings { /* form formatting */
	padding: 16px;
	/* max-width: 550px; */
	margin: auto;
}
.settings #settingsTitle {
	font-size: 30px;
	color:#D6085B;
}
	
.settings input[type=text] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #fafafa;
	border-radius: 17px;
}
.settings input[type=email] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #fafafa;
	border-radius: 17px;
}
.settings input[type=password] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #fafafa;
	border-radius: 17px;
}
.settings button {
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	font-size: 15px;
	border-radius: 17px;
}
.settings #updateAcc {
	/* float: left; */
	width: 30%;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
	background-origin: border-box;
	background-clip: content-box, border-box;

}
.settings #updateAcc:hover {
	color: #D6085B;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	box-shadow: 2px 1000px 1px #fff inset;
}
.settings #clearChanges {
	/* float: right; */
	width: 30%;
	color: #D6085B;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
}
.settings #clearChanges:hover {
	box-shadow: none;
	color: white;
}
.settings #left { /* left aligned items */
	float: left;
	/*display: inline-block;*/
	width: 49%;
	padding-bottom: 20px;
}
.settings #right { /* right aligned items */
	float: right;
	/*display: inline-block;*/
	width: 49%;
	padding-bottom: 20px;
}
.buttons #updateAcc {
	float: left;
}
.buttons #clearChanges {
	float: right;
}
.buttons {
	margin: auto;
	max-width: 650px;
}