/* FLOATING LABELS STYLING */

.floating-label-wrap{ /* Formats individual fields */
    position: relative;
    width: 45%;
    min-width: 250px;
    display: inline-grid;
    margin: 0px 8px;
    margin-bottom: 16px;
}
.floating-label-wrap input{ /* Formatting for only input fields */
    width: 100%;
    max-height: 42px;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fafafa;
    border-radius: 17px;
}
.floating-label-wrap input:focus{ /* Changes border colour to identify if a field is being focused */
    border: 1px solid #D6085B;
}
.floating-label-wrap select{ /* Formats select fields */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    max-height: 42px;
    padding: 12px 20px;
    margin: 8px 8px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background: #fafafa;
    border-radius: 17px;
    cursor: pointer;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
}
.floating-label-wrap select::-ms-expand { /* Special consideration for Microsoft browsers */
    display: none;
}
.floating-label-wrap select:focus{ /* Changes border colour to identify if the select field is focused */
    border: 1px solid #D6085B;
}
.floating-label-wrap .floating-label{ /* Formats the labels for each field */
    font-size: smaller;
    position: absolute;
    bottom: 18px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: gray;
    left: 20px;
    padding: 0 8px;

    /* Animation */
    -webkit-transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);
    transition: transform 150ms cubic-bezier(0.4,0,0.2,1),opacity 150ms cubic-bezier(0.4,0,0.2,1);

    z-index: 1; /* Puts this object above other objects with smaller index */
    pointer-events: none;
    text-align: left;
    width: 100%;
}

/* Conditional label behaviour for input fields */
.floating-label-wrap input:not([disabled]):focus~.floating-label,
.floating-label-wrap select:not([disabled]):focus~.floating-label { /* Changes colour of label being focused */
    color:#D6085B;
}
/* Instructs when and where to move label */
.floating-label-wrap input:not([disabled]):focus~.floating-label,
.floating-label-wrap select:not([disabled]):focus~.floating-label,
.floating-label-wrap .input-focus-label{
    -webkit-transform: scale(.95) translateY(-2.5em) translateX(-2em);
    transform: scale(.95) translateY(-2.5em) translateX(-2em);
}