/* FORGOT PASSWORD STYLING */

.forgotPsw { /* forgot password form formatting */
	padding: 16px;
	max-width: 460px;
	margin: auto;
}
.forgotPsw #forgotPswTitle {
	font-size: 30px;
}
.forgotPsw input[type=email] {
	width: 170%;
}
.forgotPsw input[type=password] {
	width: 170%;
}
/* Formats the button */
.forgotPsw button {
	padding: 14px 20px;
	margin: 8px 16px;
	cursor: pointer;
	font-size: 15px;
	border-radius: 17px;
}
.forgotPsw #forgotPswBtn {
	float: left;
	width: 25%;
	min-width: max-content;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
	background-origin: border-box;
	background-clip: content-box, border-box;

}
.forgotPsw #forgotPswBtn:hover {
	color: #D6085B;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	box-shadow: 2px 1000px 1px #fff inset;
}
/* Formatting for the login page link */
.forgotPsw .signup {
	padding-left: 10px;
	padding-top: 25px;
	display: inline-block;
}
.forgotPsw .signup a {
	text-decoration: none;
	color:#D6085B;
}
#login { /* styling for return to login link */
	text-decoration: none;
	color:black;
}