/* LOGIN STYLING */

.login {
	padding: 16px;
	max-width: 460px;
	margin: auto;
}
.login #loginTitle {
	font-size: 30px;
}
.login input[type=email] { /* Compensation relative to FloatingLabels.css */
	width: 170%;
}
.login input[type=password] { /* Compensation relative to FloatingLabels.css */
	width: 170%;
}
.login .optionsGroup {
	padding-top: 14px;
	font-size: smaller;
}
.login input[type=checkbox] {
	cursor: pointer;
}

.login span.forgotPassword {
	float: right;
}
.login span.forgotPassword  a{
	text-decoration: none;
	color: black;
}
.login button {
	padding: 14px 20px;
	margin: 8px 0;
	cursor: pointer;
	font-size: 15px;
	border-radius: 17px;
}
.login #loginBtn {
	float: left;
	width: 45%;
	color: white;
	border: solid 3px transparent;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
	background-origin: border-box;
	background-clip: content-box, border-box;

}
.login #loginBtn:hover {
	color: #D6085B;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	box-shadow: 2px 1000px 1px #fff inset;
}
.login #signupBtn {
	-webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
	padding: 13px 0px;
	margin: 8px -2px;
	cursor: pointer;
	font-size: 15px;
	border-radius: 17px;
	text-decoration: none;
	text-align: center;
	float: right;
	width: 45%;
	color: #D6085B;
	box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
	border: solid 3px transparent;
	background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;
}
.login #signupBtn:hover {
	box-shadow: none;
	color: white;
}


