/*manage loans styling */
table {
	border-collapse: collapse;
	width: 100%;
	color: #D6085B;
	font-size: 14px;
	text-align: left;
}
th {
	background-color: #D6085B;
	color: white;
}
tr {
	background-color: fafafa;
}