/* SEARCH BAR STYLING */

input[type=text] { /* design consistent with other input */
	width: 98%;
	padding: 12px 20px;
	margin: 0;
	display: inline-block;
	border: none;
	box-sizing: border-box;
	background: #fafafa;
	border-radius: 17px;
	
}
button {
	padding: 3px 0px;
	margin: 0px 0;
	cursor: pointer;
	border-radius: 17px;
	border: none;
	background-color: #fafafa;
	top: 10px;
	right: 20px;
	position: relative;
}
#search-container { /* container for search bar and button */
	display: inline-block;
	border: 1px solid #ccc;
	box-sizing: border-box;
	background: #fafafa;
	border-radius: 17px;
	width: 100%
}
#search-container button {
	float: right;
}



