/*Welcome message*/
.welcomeMessage{
    font-size: 35px;
    background: linear-gradient(to right, #E30A51, #B30275);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


/*class for settings to set up parent class*/
#name {
	float: right;
	padding: 10px;
}
#settings { /* aligning the settings cog */
	float: left;
	cursor: pointer;
	text-decoration: underline;
	font-size: 18px;
	
}
#logout {
	float: right;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	font-size: 25px;
}
#menuOptions{ /* div for the buttons on user account */
	padding: 35px;
	text-align: center;
	width: %;
	margin: auto;
}

#borrow { /* borrow materials link */
	/* float: left; */
	display: inline-block;
	text-align: center;
	cursor: pointer;
	padding-right: 120px;
	
}
#manage { /* manage loans link */
	/* float: right; */
	text-align: center;
	cursor: pointer;
	padding-right: 120px;
	display: inline-block;
}
#request {
display: inline-block;
	/* float: right; */
	text-align: center;
	cursor: pointer;
}
	
img { /* sizing images for borrow and manage */
	height: 120px;
	width: auto;
}
