#name {
	float: right;
	padding: 10px;
}
#settings { /* aligning the settings cog */
	float: left;
	cursor: pointer;
	text-decoration: underline;
	font-size: 18px;
	
}
#logout {
	float: right;
	padding-top: 12px;
	padding-right: 20px;
	padding-bottom: 20px;
	cursor: pointer;
	font-size: 25px;
}
h1 {
	font-size: 30px;
    background: linear-gradient(to right, #E30A51, #B30275);
    display: inline-block;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
	padding: 0;
	margin: 0;
}
.subheading{
    font-size: 24px;
    margin: 8px 8px;
}
.update .staticFields{
    margin: 0px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.update .staticFields .leftContainer{
    display: inline-grid;
}
.update .staticFields .rightContainer{
    display: inline-grid;
}
/* Formats the input fields of the form */
.update .inputFields{
    padding-top: 16px;
}
/* Formats the button */
.update button {
    padding: 14px 20px;
    margin: 8px 8px;
    cursor: pointer;
    font-size: 15px;
    border-radius: 17px;
}
.update #saveChangeBtn {
    float: left;
    width: 25%;
    min-width: max-content;
    color: white;
    border: solid 3px transparent;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.update #saveChangeBtn:hover {
    color: #D6085B;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    box-shadow: 2px 1000px 1px #fff inset;
}
.update #cancelBtn {
    float: left;
    width: 25%;
    color: #D6085B;
    box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
    border: solid 3px transparent;
    background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(to bottom right, #E30A51, #B30275);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}
.update #cancelBtn:hover {
    box-shadow: none;
    color: white;
}
